
*{
	 font-family:  'Droid Arabic Kufi', serif;
}

.tnelec_header{
	display:block;
	background-image:url('https://lh6.googleusercontent.com/-t9A79UTJsPg/VE6CI3kQ8JI/AAAAAAABNcY/l6W9KBZqD3E/w4959-h3306/Flag_of_Tunisia_M16.jpg');
	background-position:0% 0%;
}
.header-inner{
	padding-top:100px;
	padding-bottom:100px;
	background-color:rgba(160,35,35,0.9);
}
.tnelec_header h1{
	text-align:center;
	font-size:42px;
	color:#FFFFFF;
	width:auto;
	margin: 0px auto;
	margin-bottom:40px;
}
.tnelec_header h2{
	text-align:center;
	font-size:20px;
	color:#FFFFFF;
	width:auto;
	margin: 0px auto;
	
}
.heading{
	width:auto;
	margin: 0px auto;
	margin-bottom:40px;
	padding-bottom:40px;
	border-bottom:1px solid #FFFFFF;
}
div.conidate_boxes{
	width:auto;
	display:block;
	margin: 0px auto;
	text-align:center;
}
.conidate_box{
	width:200px;
	padding:25px;
	display:inline-block;
}
.conidate_text h3{
	font-family: 'Amiri', serif;
	text-align:center;
	font-size:28px;
	color:#FFFFFF;
	padding:12px;
	margin-top:20px;
	background-color:rgba(255,255,255,0.2);
}

.conidate_text div.score{
	text-align:center;
	font-size:36px;
	color:#FFFFFF;
	padding:12px;
	margin-top:20px;
}
.tweets-count{
	color:#FFFFFF;
	font-size:18px;
	text-align:center;
	direction:rtl;
}